.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background: bl;
  padding: 15px;
  border-radius: 8px;
  font-family: sans-serif;
}

button {
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.info {
  margin-top: 10px;
}
